/* First list */
$list_to_sort_1: john, anna, zoe, kim, felicia, carrie;

$sorted_list_1: sort($list_to_sort_1);

@debug "Sorted list 1: #{$sorted_list_1}";

$list_to_sort_2: bob, anna, sylvain, john, ludo, colin, patrick;

$sorted_list_2: sort($list_to_sort_2);

@debug "Sorted list 2: #{$sorted_list_2}";
